@{
    ViewData["Title"] = "Home Page";
}
<h1>LuxWatch</h1>
<p>Where our watches is your lux </p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="ourLogo" src="https://i.pinimg.com/originals/4e/30/ef/4e30efb43e03e3de0717e3f9693a1c43.jpg" alt="OurLogo">
</div>
